{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/parser": "babel-eslint",
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      },
      "webpack": {
        "config": "webpack.dev.config.js"
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "valid-jsdoc": 2,
    "import/no-named-as-default": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-wrap-multilines": 2
  },
  "plugins": [
    "import",
    "react"
  ]
}
